* { box-sizing: border-box; }
html, body { height: 100%; }
img { width: 100% }

.row {
    display: flex;
    flex-direction: column;
}

.row-inline {
    flex-direction: row;
}

.col {
    flex: 1;
    padding: 0 15px;
}

.col-right {
    text-align: right;
}

.col h1, .col h2, .col h3, .col h4, .col h5, .col h6, .col p {
    margin: 20px 0;
}

.visible-large {
    display: none;
}

@media screen and (min-width: 600px) {
    .row {
        flex-direction: row;
    }

    .row-large-reverse {
        flex-direction: row-reverse;
    }

    .col-1 { flex: 1; }
    .col-2 { flex: 2; }
    .col-3 { flex: 3; }
    .col-4 { flex: 4; }
    .col-5 { flex: 5; }
    .col-6 { flex: 6; }
    .col-7 { flex: 7; }
    .col-8 { flex: 8; }
    .col-9 { flex: 9; }
    .col-10 { flex: 10; }
    .col-11 { flex: 11; }
    .col-12 { flex: 12; }

    .visible-large {
        display: block;
    }
}

/*.box {
    width: 100%;
    height: 100px;
    background: red;
    border: 5px solid orange;
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    body {
        display: flex;
    }

    .box {
        flex: 1;
        width: auto;
    }
}


@media screen and (min-width: 768px) {
    .box {
        background: yellow;
    }
}*/
